@model IEnumerable<taskmvc.Models.User>

@{
    ViewData["Title"] = "Users List";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().IsActive)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Password</td>
                <td>@user.CreatedAt.ToString("yyyy-MM-dd")</td>
                <td>
                    @if (user.IsActive)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span>Inactive</span>
                    }
                </td>
                <td>
                    <a href="@Url.Action("ToggleActive", "Users", new { id = user.UserId })" class="btn btn-dark">
                        @(user.IsActive ? "Deactivate" : "Activate")
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

